<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.PlanFit.comment.mapper.CommentQueryMapper">
    <select id="findCommentsByMenu" resultType="com.project.PlanFit.comment.dto.CommentDto">
        SELECT
            A.COMMENT_ID   AS commentId,
            A.PARENT_ID    AS parentId,
            A.REG_ID       AS userId,
            A.COMMENT_CN   AS commentCn,
            A.REG_DT       AS regDt,
            A.REG_ID       AS regId,
            A.MENU_TYPE    AS menuType,
            A.MENU_ID      AS menuId,
            A.DEL_YN       AS delYn,
            B.USER_NAME    AS userName,
            B.FILE_ID 	   AS fileId
        FROM COMMENTS A
        INNER JOIN USER B ON A.REG_ID = B.USER_ID
        WHERE MENU_TYPE = #{menuType}
        AND MENU_ID   = #{menuId}
        AND COALESCE(A.DEL_YN,'N') = 'N'
        ORDER BY
            CASE WHEN PARENT_ID IS NULL THEN COMMENT_ID ELSE PARENT_ID END,
            A.REG_DT ASC
    </select>
</mapper>